@import "index.scss";

.forgot-password-container-wrapper {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.4rem;
  font-family: $font-montserrat;

  .left__section {
    padding: 3rem;
    background: #4e49ff;
    width: 35%;
    height: 100%;
    position: relative;
    border-radius: 20px;

    header {
      .logo {
        width: fit-content;
        height: 2.6rem;

        path {
          fill: #fff;
        }
      }
    }

    h1 {
      font-weight: 700;
      font-size: 3em;
      color: #fff;
      margin: 1.5rem 0;
    }

    p {
      font-family: "Inter";
      font-weight: 400;
      font-size: 22.9px;
      color: #d1d8ff;
      margin: 1rem 0;
    }

    .image_wrapper {
      position: absolute;
      bottom: 0;
      left: 0rem;
      width: 100%;
      img {
        width: inherit;
      }
    }
  }

  .right__section {
    width: 65%;
    height: 100%;
    padding: 2rem 5rem;
    z-index: 10;
    position: relative;
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .headline {
      color: #000;
      font-family: $font-inter;
      font-weight: 600;
      font-size: 2em;
      margin-bottom: 1.5rem;
    }

    form {
      gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      max-width: 26rem;
      min-width: 26rem;

      .fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        .input_wrapper {
          width: 100%;
          .otp-input-root {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
              margin: 0 !important;
              width: 3.2rem !important;
              height: 3.2rem !important;
              border-radius: 0.6rem !important;
              border: 1px solid #e6e8ec;
              font-size: 16px;
            }
          }
        }
      }

      .forgot-password {
        width: 100%;
        text-align: right;
      }

      .terms-and-conditions {
        font-size: 1em;
        color: #c2c4c8;
        span {
          color: #000;
          font-weight: 500;
        }
      }

      button {
        width: 100%;
        background: #4040ff;
        color: #fff;
        border: none;
        outline: none;
        padding: 0.8rem 2rem;
        border-radius: 0.5rem;
        font-weight: 600;
        -webkit-transition: ease-out 1.2s;
        -moz-transition: ease-out 1.2s;
        transition: ease-out 1.2s;

        .spinner-border {
          margin-right: 0.5rem;
        }
      }
    }

    .headline-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      h1 {
        font-weight: 700;
        font-size: 34px;
        color: #000000;
      }

      p {
        font-weight: 500;
        font-size: 18px;
      }
    }

    .link {
      font-weight: 600;
      color: #4040ff;
    }
  }
}
